$gradient-yellow: linear-gradient(225deg, #ffd387 0%, #ffa26b 100%);
$gradient-green: linear-gradient(224deg, #96efa6 0%, #26a6b5 100%);
$gradient-red: linear-gradient(223deg, #ffb382 0%, #f07590 100%);
$gradient-blue: linear-gradient(228deg, #a1a3ff 0%, #6d63ef 100%);
$gradient-violet: linear-gradient(226deg, #e9b0ff 0%, #8a63e5 100%);

$gray-color: #DADADA;

$main-gray: #EBEFF5;
$main-green: #61DEA4;
$main-red: #F45E6D;
$main-yellow: #FFE761;
$main-violet: #B678FF;
$main-blue: #006CFF;
$main-black: #252A31;
